.containerLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    background-color: rgb(31 41 55 / 1);
    transition: all 0.3s;
}

.containerLinks img {
    width: 25px;
}

.containerLinks:hover{
    transform: scale(1.1);
}