.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 0.5rem 0.75rem;
    width: fit-content;
    border-radius: 10px;
    gap: .5rem;
    border: 1px solid rgb(75 85 99 / 1);
    background-color: rgb(31 41 55 / 1);
}

.linkLogo img {
    margin-left: 8px;
}

.link p {
    margin: 0;
}